# Banco de dados (Neon Postgres)
DATABASE_URL="postgresql://user:password@ep-xxxxx-pooler.region.aws.neon.tech/dbname?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://user:password@ep-xxxxx.region.aws.neon.tech/dbname?sslmode=require&channel_binding=require"

# NextAuth
AUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=""
MERCADOPAGO_PUBLIC_KEY=""
MERCADOPAGO_WEBHOOK_SECRET=""

# Frenet (frete)
FRENET_TOKEN=""
FRENET_SELLER_CEP=""

# Sigecloud (ERP)
SIGECLOUD_API_URL=""
SIGECLOUD_API_KEY=""
